.footer{
    bottom:0;
    left:0;
    background-color:rgb(128 128 128 / 8%);
    border-top:solid 0,03px black;
    width:100%;
    transition:all 0,3s;
}

.footer ul{
    padding: 24px;
    width:25%;
}

.footer ul li a:hover{
    padding-left:8px;
}

.enlaces{
Display:flex;
padding:16px;
}

.enlaces a{
    text-decoration:none;
    cursor: pointer;
}

.enlaces li{
list-style:none;
padding:8px;
margin:8px;
}

.footer{
    bottom:0;
    left:0;
    background-color:rgb(128 128 128 / 8%);
    width:100%;
    display:flex;
    padding:40px;
}

.footer-left{
    display:flex;
    width:50%;
}

.footer-right{ 
    display:flex;
    flex-direction:column;
    width:50%;
    justify-content: space-evenly;
    align-items:flex-end;
    max-height:336px;
}

.footer-left ul{ 
    padding:16px;
    width:100%;
}

.footer-left li{ 
    padding:16px;
    list-style:none;
}

.footer-newsletter {
    display: flex;
    align-items: center;
}

.newsletter-label{
    padding-right:16px;
    padding-bottom:2px;
}

.footer-newsletter a{ 
    background-color:black;
    color:white;
    padding:4px;
}

.redes a{ 
    padding:16px;
}

.newsletter-email {
    border-radius: 2px;
    border: solid 1px black;}

input.submit-mail {
background-color: black;
color: white;
border-radius: 0px 2px 2px 0px;
height: 18px;
text-align: center}

.newsletter-email {
    border-radius: 2px;
    border: solid 1px black;
}